---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Body from "../components/Body.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <!-- Set up pages for users' language -->
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script is:inline>
      if (window.navigator.language) {
        let meta = document.createElement("meta");
        meta.httpEquiv = "refresh";
        meta.content = `0;url=/${
          /^zh\b/.test(window.navigator.language) ? "zh-tw" : "en"
        }/`;
        document.head.appendChild(meta);
      }
    </script>
  </head>
  <Body>
    <Header title={SITE_TITLE} />
  </Body>
</html>
