---
const { lang, title, total, slug } = Astro.props;

---
<li>
  <a
    class="text-xl relative before:absolute before:content-[' '] before:h-1 before:w-full before:rounded before:bg-amber-600 dark:before:bg-amber-200 before:-bottom-2 before:left-0 before:origin-right before:scale-x-0 hover:before:origin-left hover:before:scale-x-100 before:transition-transform duration-500"
    href={`/${lang}/categories/${slug}`}
  >
    {title}
  </a>
  <span
    class="relative font-bold text-base -top-[6px] text-amber-600 dark:text-amber-200"
  >
    {total}
  </span>
</li>
