---
import { SITE_TITLE, HOMEPAGE_URL } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { IoLeaf, IoLogoGithub } from "react-icons/io5";
---

<header class="fixed w-full p-2 z-20 backdrop-brightness-150 backdrop-blur-sm">
  <nav class="mx-auto flex max-w-5xl items-center gap-3 text-base">
    <h2
      class="font-semibold font-righteous uppercase text-xl tracking-tight p-2"
    >
      <HeaderLink href="/"><IoLeaf />{SITE_TITLE}</HeaderLink>
    </h2>
    <div class="flex-1"></div>
    <div class="items-center gap-6 hidden lg:flex">
      <HeaderLink href="/">Categories</HeaderLink>
      <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
      <HeaderLink href="https://github.com/blp100/astro-blog">
        <IoLogoGithub />
         Source
      </HeaderLink>
    </div>
  </nav>
</header>
