---
import { SITE_TITLE, HOMEPAGE_URL } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { IoLeaf, IoLogoGithub } from "react-icons/io5";
import ThemeToggle from "./ThemeToggleBotton";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="fixed w-full p-2 z-20 backdrop-blur transition-all ease-in-out duration-700">
  <span class="hidden translate-y-0 -translate-y-16"></span>
  <nav class="mx-auto flex max-w-5xl items-center gap-3 text-base">
    <h2
      class="font-semibold font-righteous uppercase text-sm md:text-base lg:text-xl tracking-tight p-2"
    >
      <a class="inline-flex gap-1 items-center font-righteous" href=`/${lang}`
        ><IoLeaf className="hidden md:inline" />{SITE_TITLE}</a
      >
    </h2>
    <div class="flex-1"></div>
    <div
      class=`items-center gap-4 hidden md:flex ${(lang==="en")?"font-righteous":""}`
    >
      <HeaderLink href={t("nav.categoriesURL")}>
        {t("nav.categories")}
      </HeaderLink>
      <HeaderLink href={t("nav.tagsURL")}>
        {t("nav.tags")}
      </HeaderLink>
      <HeaderLink href={HOMEPAGE_URL}>{t("nav.about")}</HeaderLink>
      <HeaderLink href="https://github.com/blp100/astro-blog">
        <IoLogoGithub size={24} className="mb-0.5" />
        {t("nav.source")}
      </HeaderLink>
    </div>
    <LanguagePicker />
    <ThemeToggle client:load />
  </nav>
</header>

<script is:inline>
let lastScroll = 0;
const header = document.querySelector("header");
const scrollUp = "translate-y-0";
const scrollDown = "-translate-y-16";

window.addEventListener("scroll", () => {
  const currentScroll = window.scrollY;

  if (currentScroll <= 0) {
    header.classList.remove(scrollUp);
    return;
  }
  if (currentScroll > lastScroll && !header.classList.contains(scrollDown)){
    // down
    header.classList.remove(scrollUp);
    header.classList.add(scrollDown);
  } else if (currentScroll < lastScroll && header.classList.contains(scrollDown)){
    // up
    header.classList.remove(scrollDown);
    header.classList.add(scrollUp);
  }
  lastScroll = currentScroll;
});
</script>
