---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const updatedPath = Astro.url.pathname.replace(lang, t("nav.lang"));
---

<div class="inline-flex items-center">
  <a
    class=`${(lang==="zh-tw"?"font-righteous":"font-notoSans font-bold mb-0.5")}`
    href={updatedPath}
  >
    {t("nav.language")}
  </a>
</div>
