---
const { category } = Astro.props;
---
<>
  <h1 class="text-xl pb-4 text-neutral-500">
    Category: <span class="text-zinc-900 dark:text-neutral-300">{category}</span
    >
  </h1>
  <ul>
    <slot />
  </ul>
</>
