---
import { useTranslations } from "../i18n/utils";
const { lang, category } = Astro.props;
const t = useTranslations(lang);

---
<>
  <h1 class="text-xl pb-4 text-neutral-500">
    {t("category.name")}<span class="text-zinc-900 dark:text-neutral-300">{category}</span
    >
  </h1>
  <ul>
    <slot />
  </ul>
</>
